:root{
  --one: #161616;
  --two: #346751;
  --three: #c84b31;
  --four: #ecdbba;
}

body{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.song_section{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.song_card{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.song_main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.song_info_list{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.song_links{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.tweet_list{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tweet_card{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tweet_header{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.tweet_user{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.tweet_body{
  text-align: justify;
}

.tweet_footer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width:100%;
}

.day_section{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.day_card{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.day_body{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.day_footer{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.main_section{
  width: 120%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.quote_card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote_body{
  text-align: justify;
}

.quote_footer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.score_section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.game_card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.game_header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.game_body{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.game_scorecard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.game_clock{
  display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.game_hTeam_score{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.game_vTeam_score{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.game_footer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.score_footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
